<%= render 'carousel' %>

<div class="container welcome-titles">
  <h1>NEWS</h1>
</div>

<div class="container-fluid">
  <div class="row">
  <% @posts.each do |post| %>
    <div class="col-lg">
      <div class="card mb-4">
      <% if post.image_url.present? %>
        <%= image_tag post.image_url(:small).to_s, alt: "image", class: "card-img-top img-responsive" %>
      <% else %>
        <%= image_tag "lasu_logo.png", class: "card-img-top img-responsive", height: "300", width: "300"%>
      <% end %>
        <div class="card-body">
          <h2 class="card-title"><%= post.title %></h2>
          <p class="card-text"><%= post.content %></p>
          <div class="btn btn-primary btn-sm"><%= link_to 'Read More', post, :class => "btn btn-primary" %></div>
        </div>
        <div class="card-footer text-muted">Posted on January 1, 2017 by
        <a href="#">Start Bootstrap</a>
        </div>
      </div>
    </div>
<% end %>
  </div>
</div>

<div class="container welcome-titles">
  <h1>SPOTLIGHT</h1>
</div>

